.contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contact_left {
    width: 45%;
    font-size : 25px;
    font-weight: normal;
    margin-top: 50px;
    margin-left: 50px;
}

.contact_header h1 {
    font-weight: normal;
}

.contact_right {
    width: 65%;
    background-color: #f0f0f0; /* Change this to your desired color */
    padding: 20px;
    text-align : left;
}

.map iframe {
    width: 80%; /* Makes the map responsive */
    height: 250px; /* Sets the height of the map */
    border: 0; /* Removes the default border */
}

.contact_content {
    padding: 20px;
}

.contact_content h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px; /* Add space below each header */
}

.contact_content p {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 15px; /* Adds space below each paragraph */
}

/* Adding padding between sections of content */
.contact_content h2 + p {
    margin-top: 10px; /* Adds padding between the label and its content */
}
