.contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #dfd5cb;
}

.contact_left {
    width: 45%;
    font-size : 25px;
    font-weight: normal;
    margin-top: 50px;
    margin-left: 50px;
}

.contact_header h1 {
    font-weight: normal;
}

.contact_right {
    width: 65%;
    background-color: #f0f0f0; 
    padding: 20px;
    text-align : left;
}

.map iframe {
    width: 80%;
    height: 250px; 
    border: 0; 
}

.contact_content {
    padding: 20px;
}

.contact_content h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px; 
}

.contact_content p {
    font-size: 13px;
    margin-bottom: 15px; 
}

.contact_content h2 + p {
    margin-top: 10px;
}
