.domaines-container {
  padding-top: 170px;
  min-height: 100vh;
  width: 100%;
  background-color: #1F2839;
}

.domaines-title-section {
  top: 220px;
  margin-left: 100px;
  padding: 40px;
}

.domaines-title-section h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  color: #B69D74;
}

.domaines-title-underline {
  width: 33%;
  max-width: 200px;
  height: 2px;
  background-color: #B69D74;
  margin-top: 10px;
}

.domaines-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0px 0;
}

.domaines-section:nth-child(odd) {
  flex-direction: row-reverse;
}

.domaines-image-container {
  width: 50%;
  height: 700px;
}

.domaines-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.domaines-text-container {
  width: 50%;
  padding: 0 40px;
}

.domaines-text-container h2 {
  color: #B69D74;
  font-size: 2rem;
  margin-bottom: 20px;
}

.domaines-text {
  color: #B69D74;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;

}

.domaines-text p {
  margin-bottom: 15px;
}

.domaines-text ul {
  list-style-type: none;
  padding-left: 0;
}

.domaines-text li {
  margin-bottom: 10px;
}

.domaines-text strong {
  color: #B69D74;
}