.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px; 
    padding: 0; 
    background-color: #f9f9f9;
    overflow: hidden;
}

.footer-container img {
    height: 30px; 
    width: auto;
    margin-bottom: 10px;
}

.footer-container p {
    font-size: 12px;
}
