.home-container {
    min-height: 100vh;
    width: 100%;
    background-color: #1F2839;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#profile-section {
    overflow: visible; /* Add this */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-title {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 60px;
}

.profile-title h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    color: #B69D74;
}

.profile-title-underline {
    width: 33%; 
    max-width: 200px;
    height: 2px;
    margin-top: 20px;
    background-color: #B69D74 
}

.profile-content {
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: flex-start; /* Changed from stretch */
    color: #B69D74;
}

.profile-content-picture {
    flex-shrink: 0;
    width: 400px; 
    align-items: center;
}

.profile-content-picture img {
    width: 500px;
    height: auto;
    
}

.profile-content-description {
    flex: 0 1 60%;
    font-size: 1.1rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed from center */
    text-align: justify;
    padding-left: 100px;
    padding-top: 0; /* Added to ensure no top padding */
}

.profile-content-description p {
    margin-bottom: 25px;
}

#middle-section {
    margin-top: 100px;
    background-color: #1F2839 ;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}

.circle-link {
    width: 290px;
    height: 290px;
    background-color: #B69D74;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    margin: 0 20px;
    font-weight: bold;

}