.mis-en-cause-container {
    padding-top: 250px;
    text-align: justify; /* Justify the content */
  }
  
  
  .content {
    margin-left: 50px;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;

  }
  
  .highlighted-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
  }
  
  section {
    margin-top: 20px;
  }
  
  section h3 {
    color: black;
    font-size: 1.4rem;
  }
  
  section p {
    margin-bottom: 15px;
  }
  
  section ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  section ul li {
    margin-bottom: 10px;
  }
  