
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.App {
  min-height: 100vh;
  position: relative;
}

main {
  width: 100%;
}

.App-footer p {
  align-items: center;
  font-size: 12px;
  margin: 10px 20px;
}

